.sign-in {
  display: flex;
  justify-content: center;
  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 375px;
    margin-top: 30px;
    padding: 10px;
  }
  .title {
    margin: 10px 0;
  }
  .sign-up-option {
    padding: 10px;
    text-align: center;
  }
  .google-login {
    margin-top: 10px;
  }
  .line-partition {
    text-align: center;
    padding: 10px;
  }
}
