.home-container {
  max-width: 367px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #a7acd9;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  h1 {
    text-align: center;
  }
}
.hint-text {
  font-size: 12px;
  font-style: italic;
}
